body{
    margin: 0 auto;
}
.head{
    width: 100%;
    position: relative;
    height: 80px;
  background-color:#ffffff ;
    margin-left: 50px;
}
.logo{
    display: flex;
    
}
.logo a{
    color:  rgb(14, 14, 226);
       
  
    cursor: pointer;
}
.logo  img{
    
    margin-top: 15px;
    margin-left: 10%;
    cursor: pointer;

}


nav{
    display: flex;
    justify-content:space-around;
    align-items: center; 
    min-height: 8vh;
    background-color:  rgb(75, 75, 210);
    
    position: relative;
}
.logotruyentranh{
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: white;
    text-decoration: none;
   
    font-weight: bold;
    font-size: 12px;
}
.lineline{
   
    display: none;
    cursor: pointer;
}
.lineline div{
    width: 25px;
height: 3px;
background-color: #FFFFFF;
margin: 5px;
transition: all 0.3s ease;

}
@media screen and (max-width:1024px) {
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width:960px) {
    body{
       overflow-x: hidden;
       
    }
    .nav-links{
        z-index: 1;
        position: absolute;
        right: 0px;
        height: 40vh;
        top: 8vh;
        background-color: rgb(14, 14, 226);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    /* .nav-links li {
        opacity: 0;
    } */
    .lineline{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkF {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}



@media(min-width: 350px){
    .head{
        max-width: 360px;
    }
    .menuheader1{
       display: none;
    }
    .menuheader2{
        margin-top: 15px;
        font-size: 20px;
        margin-left: 1%;
        margin-right: 2%;
        color:  rgb(75, 75, 210);
       font-size: 18px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 10px;
        
    }
   
}
@media (min-width: 576px) {
    .head{
        max-width: 100%;
    }
    
   
}
   

@media (min-width:768px) {
    .head{
        max-width: 100%;
    }
    .menuheader1{
        margin-top: 15px;
        font-size: 20px;
        margin-left:1%;
        color: rgb(75, 75, 210);
       
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 10px;
    }
    .menuheader2{
        margin-top: 15px;
        font-size: 20px;
        margin-left: 1%;
        margin-right: 7%;
        color:  rgb(75, 75, 210);
       
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 10px;
    }
   
    
   
    
}

@media (min-width: 992px) {
    .head{
        max-width: 100%;
    }
    .menuheader1{
        margin-top: 15px;
        font-size: 25px;
        margin-left:5%;
        color: rgb(75, 75, 210);
        
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 5px;
    }
    .menuheader2{
        margin-top: 15px;
        font-size: 25px;
        margin-left: 1%;
        margin-right: 7%;
        color:  rgb(75, 75, 210);
      
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 5px;
    }
  
  
}
@media (min-width: 1200px) {
    .head{
        max-width: 100%;
    }
   
   
}
.search {
    
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid rgb(48, 69, 175);
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: rgb(48, 69, 175);
  }
  
  .searchButton {
    width: 100px;
    height: 36px;
    border: 1px solid rgb(48, 69, 175);
    background: rgb(48, 69, 175);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  .wrap{ 
    width: 30%;
    
    margin-top: 20px;
    margin-left: 1%;
  
  }
  
 .flexfooter{
    display: flex;
    width: 100%;
   flex-direction: row;
  
    
 }
 .itemft1{
    width: 25%;
    
    color: #fff;
  
    background-color: rgba(137, 128, 5, 0.556);
    border-radius: 5px;
    text-align: center;
    line-height: 60px;
   margin-left: 10px;
 }
 .itemft2{
   width: 25%;
  
  line-height: 60px;
  color: #fff;
   text-align: center;

    background-color: rgb(48, 69, 175);
    border-radius: 5px;
 }
 .itemft3{
    width: 100%;
  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
   margin-left: 10px;
   margin-right: 10px;
 
    border-radius: 5px;
 }
 .itemft3 h4{
    text-align: center;
    line-height: 60px;
    
 }
 .itemft4{
    width: 45%;
    
    margin-left: 10px;
    margin-right: 10px;
 }
 .itemft4 iframe{
    height: 100%;
 }
 @media screen and (max-width:768px) {
    .flexfooter{
        display: flex;
        width: 100%;
       flex-direction: column;
      
        
     }
     .itemft1{
        width: 95%;
        
        color: #fff;
      
        background-color: rgba(137, 128, 5, 0.556);
        border-radius: 5px;
        text-align: center;
        line-height: 60px;
       margin-left: 10px;
     }
     .itemft2{
        width: 95%;
        margin-top: 10px;
      line-height: 60px;
      color: #fff;
       text-align: center;
    
        background-color: rgba(0, 128, 0, 0.556);
        border-radius: 5px;
        margin-left: 10px;
     }
     .itemft4{
        margin-top: 10px;
        width: 95%;
      
        margin-left: 10px;
        margin-right: 10px;
     }
     .itemft4 iframe{
        height: 100%;
     }
 }
 .flag1{
    margin-top: 10px;
 }
 #flag {
  
    width: 100px; 
    height: 50px;
    margin: auto;
    }
 

 

